<h3 class = "table-dark tex" id="margen">  Detalles Empleado    </h3>

<div>
    <div>
        <label class="text-warning"> <b class="text-light"> ID : </b > {{empleado.id}} </label>
    </div>
    <div>
        <label class= "text-warning"> <b class="text-light"> Documento : </b> {{empleado.nroDocumento}} </label>
    </div>
    <div>
        <label class= "text-warning"> <b class="text-light"> Nombre : </b> {{empleado.nombre}} </label>
    </div>
    <div>
        <label class= "text-warning"> <b class="text-light"> apellido : </b> {{empleado.apellido}} </label>
    </div>
    <div>
        <label class= "text-warning"> <b class="text-light"> email: </b> {{empleado.email}} </label>
    </div>
    <div>
        <label class= "text-warning"> <b class="text-light"> Fecha de Nacimiento : </b> {{empleado.fechaNacimiento}} </label>
    </div>
    <div>
        <label class= "text-warning"> <b class="text-light"> Fecha de Ingreso : </b> {{empleado.fechaIngreso}} </label>
    </div>

    <div>
        <label class= "text-warning"> <b class="text-light"> Fecha de Creacion : </b> {{empleado.fechaCreacion}} </label>
    </div>

</div>
